page-login {
    .content {
        background-image: url('../assets/img/login_bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main-content {
        margin-top: 60%;
        margin-left: 7%;
        margin-right: 7%;
        margin-bottom: 6%;
        background: transparent;
    }
    .text-content {
        color: white;
        font-size: 10pt;
    }
}