page-login {
    .content {
        background-image: url('../assets/img/login_bg.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main-content {
        margin-left: 7%;
        margin-right: 7%;
        margin-bottom: 6%;
        background: transparent;
        height: 100%;
    }
    .text-content {
        color: white;
        font-size: 14pt;
    }
    .button-area {
        margin-top: 30%;
    }
    .button {
        min-height: 10px !important;
        width: 100%;
        text-align: center;
        font-size: 12pt;
        border-radius: 8px;
    }
    .login-button {
        background-color: white;
        color: #2196f3;
    }
    .sign-button {
        margin-top: 10%;
        background-color: transparent;
        border-width: 1px;
        border-color: white;
        border-style: solid;
        color: white;
    }
}