page-sign {
    ion-header {
        background-image: url('../assets/img/sign_toolbar_bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 130px;
    }
    .logo {
        align-items: center;
        text-align: center;
        margin: 0px auto;
    }
    .main-content {
        width: 100%;
        height: 100%;
    }
}